spring:
  profiles:
    active: dev
---
server:
  port: 8080
spring:
  profiles: dev
  cache:
    type: SIMPLE
  #配置数据源
  datasource:
    url: jdbc:mysql://localhost:3306/yiban?serverTimezone=UTC
    username: root
    password: forever
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    #   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,slf4j
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500

  #关闭thymeleaf缓存
  thymeleaf:
    cache: false

  jpa:
    hibernate:
      #      更新或者创建数据表结构
      ddl-auto: update
    #      控制台显示sql
    show-sql: true
    open-in-view: true

  mvc:
    #模拟put请求，2.0之后默认关闭了
    hiddenmethod:
      filter:
        enabled: true
---
server:
  port: 80
spring:
  profiles: pro
  cache:
    type: SIMPLE
  #配置数据源
  datasource:
    url: jdbc:mysql://localhost:3306/yiban?serverTimezone=UTC
    username: root
    password: abc123ABC@
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    #   配置监控统计拦截的filters，去掉后监控界面sql无法统计，'wall'用于防火墙
    filters: stat,wall,slf4j
    maxPoolPreparedStatementPerConnectionSize: 20
    useGlobalDataSourceStat: true
    connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=500

  #关闭thymeleaf缓存
  thymeleaf:
    cache: true

  jpa:
    hibernate:
      #      更新或者创建数据表结构
      ddl-auto: update
    #      控制台显示sql
    show-sql: false
    open-in-view: true
---