<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="asserts/images/favicon.ico" th:href="@{/asserts/images/favicon.ico}" rel="shortcut icon" >
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet"  type="text/css" >
    <link href="asserts/css/register.css" th:href="@{/asserts/css/register.css}" rel="stylesheet">
    <script type="text/javascript" src="asserts/js/jquery-3.4.1.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <title>wall | 注册</title>
</head>
<body>
    <div class="center">

        <h5>成为华尔街master</h5>
        <form action="/register/doRegister" method="post" id="RF">

            <p  th:if="${msg!=null}" th:text="${msg}"></p>

            <label for="username">用户名</label>
            <input type="text" id="username" placeholder="用户名不可重复" name="username">

            <label for="password">密码</label>
            <input type="password" id="password" name="password">
            <!--验证码单元-->
            <label for="phoneNumbers">手机号码</label>
            <input type="text" id="phoneNumbers" name="phoneNumbers">

            <label for="captcha">验证码</label>
            <div class="code">
                <input type="text" id="captcha" name="captcha">
                <button type="button" onclick="loadXMLDoc()" id="getCaptcha">获取验证码</button>
            </div>

            <input type="button" value="注册" onclick="checkMACode()">

        </form>
    </div>
    <script>
        function checkMACode() {
            var xmlhttp;
            var url = "/register/checkInputCode/"+$("#captcha").val();
            if (window.XMLHttpRequest)
            {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if(xmlhttp.readyState == 4 && xmlhttp.status == 200){
                    console.info(xmlhttp.response);
                    if(xmlhttp.response == "true"){
                        $("#RF").submit();
                    }else {
                        alert("验证码错误！");
                        $("#getCaptcha").text("已发送").attr('disabled', false);
                    }
                }
            }
            xmlhttp.open("GET",url,true);
            xmlhttp.send();
        }

        function loadXMLDoc()
        {
            var xmlhttp;
            if (window.XMLHttpRequest)
            {
                // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function() {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    $("#getCaptcha").text("已发送").attr('disabled', true);
                }else {
                    $("#getCaptcha").text("发送失败,再次发送");
                }
            }
            xmlhttp.open("GET","/register/sendCode/"+$("#phoneNumbers").val(),true);
            xmlhttp.send();
        }
    </script>
</body>
</html>