.class{
    background-color: aquamarine;
}

body{
    background-color: #F9F9F9;
}

.center{
    margin: 0;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    background-color: #FFFFFF;
    /*border: red 1px solid;*/
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

form{
    margin: auto;
    width: 250px;
    /*border: red 1px solid;*/
}
h5{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

label{
    display:block;
}

input{
    height: 40px;
    width: 100%;
    margin: 8px  0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    box-sizing: border-box;
    display:block;
}

input[type=submit]{
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-bottom: 20px;
    border-radius: 4px;
}

.code{
    display: flex;
}

.code input{
    width: 60%;
    height: 40px;
    border: 1px solid #ccc;
}

.code button{
    margin-top: 8px;
    width: 40%;
    height: 40px;
}
p{
    text-align: center;
}